@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    font-family:"Poppins", sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.home_section {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2vh 2vw;
}
nav {
    font-weight: 700;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.nav_contact_link{
    padding: 10px 20px;
    border: 2px solid rgb(249, 246, 246);
    border-radius: 20px;
    cursor: pointer;
}
.nav_contact_link:hover{
    background-color: rgb(245, 205, 218);
    color: rgb(54, 57, 60);
    transition: 0.3s ease;
}
.sub_text p{
    padding-right: 5vw;
    font-size: 17px;
    width: 35vw;
    margin-top: 5vh;
    background-color: rgba(50, 44, 44, 0.5);
}
.text{
    font-family:"Anton", sans-serif;
    font-size: 12.5vw;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    padding-left: 1vw;
}

.about_section {
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;;
    padding: 2vh 2vw;
}


.about_section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* object-fit: cover; */
    filter: brightness(30%);
    filter: brightness(0.3);
}


.about_topics{
    width: 95%;
    display:contents;
    flex-direction: column; 
    gap: 4vw; 
    text-transform:uppercase;
}

.skills {
    position: relative;
    width: 95vw;
    height: 10vh;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 60px;
}

.design_link{   
    display:flex;
    padding: 10px 20px; 
    border: 2px solid rgb(249, 246, 246);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.design_link:hover{
    background-color: rgb(245, 205, 218);
    color: rgb(54, 57, 60); 
    transition: 0.3s ease;
     z-index: 1;
} 

.web_link{   
    display:flex;
    padding: 10px 20px;
    border: 2px solid rgb(249, 246, 246);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.web_link:hover{
    background-color: rgb(245, 205, 218);
    color: rgb(54, 57, 60); 
    transition: 0.3s ease;
    z-index: 1;
}
.projects_link{   
    display:flex;
    padding: 10px 20px;
    border: 2px solid rgb(249, 246, 246);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.projects_link:hover{
    background-color: rgb(245, 205, 218);
    color: rgb(54, 57, 60); 
    transition: 0.3s ease;
    z-index: 1;
}
.sub_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    padding: 0 10vw;
    background-color: black;
    display: grid;
    grid-template-columns: 10vw 10vw 5vw 5vw;
    gap: 12.5vw;
    font-size: 1vw;
    z-index: 1;
    margin-bottom: 0;
    
}

.footer_title{
    font-size: 5vw;
    font-family: "Anton", sans-serif;
    line-height: 1;
    z-index: 1;
}

.footer_contact_link {
    cursor: pointer;
    margin-top: -10vh;
    z-index: 1;
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    z-index: 1;
}

.footer div span{
    cursor: pointer;
    transition: 0.3 ease;
    z-index: 1;
}

.footer div span:hover{
    text-decoration: underline;
}